doctype html
html
    head
        title testing this ish
    body
        h1= "Add a visitor"

        form(action="/new_visitor" method="GET")

            label Visitor's Name: 
            input(type="text" name="name")
            br
            br
            label Visitor's Age: 
            input(type="text" name="age")
            br
            br
            label Date of Visit: 
            input(type="text" name="date")
            br
            br
            label Time of Visit: 
            input(type="text" name="time")
            br
            br
            label Assisted By: 
            input(type="text" name="assistedBy")
            br
            br
            label Comments: 
            textarea(name="comments")
            br
            br

            input(type="submit" value="Submit") 

            a(href="new_visitor") link